parameters:
    level: max

    fileExtensions:
        - php

    excludes_analyse:
        - %currentWorkingDirectory%/benchmarks/*
        - %currentWorkingDirectory%/bin/*
        - %currentWorkingDirectory%/docs/*
        - %currentWorkingDirectory%/test/*
        - %currentWorkingDirectory%/vendor/*

    ignoreErrors:
        - '#PHPDoc tag @throws with type Psr\\Container\\ContainerExceptionInterface is not subtype of Throwable#'
# AbstractPluginManager::__construct() accepts more types:
        -
            message: '#Result of && is always false#'
            path: %currentWorkingDirectory%/src/AbstractPluginManager.php
        -
            message: '#Else branch is unreachable because ternary operator condition is always true#'
            path: %currentWorkingDirectory%/src/AbstractPluginManager.php
        -
            message: '#Default value of the parameter \#1 \$resource \(mixed\) of method Zend\\ServiceManager\\Tool\\FactoryCreatorCommand::help\(\) is incompatible with type resource#'
            path: %currentWorkingDirectory%/src/Tool/FactoryCreatorCommand.php
        -
            message: '#Default value of the parameter \#1 \$resource \(mixed\) of method Zend\\ServiceManager\\Tool\\ConfigDumperCommand::help\(\) is incompatible with type resource#'
            path: %currentWorkingDirectory%/src/Tool/ConfigDumperCommand.php
