parameters:
    level: max

    fileExtensions:
        - php

    excludes_analyse:
        - %currentWorkingDirectory%/benchmarks/*
        - %currentWorkingDirectory%/bin/*
        - %currentWorkingDirectory%/docs/*
        - %currentWorkingDirectory%/test/*
        - %currentWorkingDirectory%/vendor/*

    ignoreErrors:
        - "#Casting to [a-z]+ something that's already [a-z]+#"
        - '#PHPDoc tag @throws with type Psr\\Container\\ContainerExceptionInterface is not subtype of Throwable#'
# AbstractPluginManager::__construct() accepts more types:
        - '#Result of && is always false#'